{% extends 'squirrelsite/base.html' %}

{% block additional_head_content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%endblock%}
{% block content %}
{% load static %}
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-2"><img class="rounded-circle" alt="Free Shipping" src="{% static 'squirrelsite/images/40X40.gif' %}"></div>
            <div class="col-lg-6 col-10 ml-1">
              <h4>Look Closely</h4>
<!--				System hardening required further up, disabled link still appears on login -->
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-2"><img class="rounded-circle" alt="Free Shipping" src="{% static 'squirrelsite/images/40X40.gif' %}"></div>
            <div class="col-lg-6 col-10 ml-1">
              <h4>They're Watching</h4>
<!--				Heartbleed vulnerability mitigated, TLSv1.2 immune to Poodle, Look Closely for more fixes-->
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-2"><img class="rounded-circle" alt="Free Shipping" src="{% static 'squirrelsite/images/40X40.gif' %}"></div>
            <div class="col-lg-6 col-10 ml-1">
              <h4>We are Too</h4>
<!--				Slowloris tolerance not tested, They are Watching for more information-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2 class="text-center">RECOMMENDED PRODUCTS</h2>
    <hr>
    <div class="container">
      <div class="row text-center">
        {% for item in merch_list %}
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src="{{ item.image.url }}" alt="Piece of merchandise">
            <!-- Need to update alt text dynamically, I apologize for the inaccessibility. -->
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">${{ item.cost }}</p>
              <a href="{{ item.image.url }}" class="btn btn-primary">View Larger</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    <div class="container text-white bg-dark p-4">
      <div class="row">
        <div class="col-md-4 col-lg-5 col-6">
          <address>
            <strong>Squirrel Space, LLC.</strong><br>
            10900 Euclid Avenue<br>
            Cleveland, OH, 44106<br>
            <abbr title="Phone">P:</abbr> 555-6887
          </address>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-12">
          <address>
            <strong>CWRU Scavenger Hunt</strong><br>
            <a href="mailto:cwruscavengerhunt@gmail.com">cwruscavengerhunt@gmail.com</a>
          </address>
          <a href="https://www.youtube.com/channel/UCyJ_MXbkmmJjYmqC13Yw8sQ" class="fa fa-youtube"></a>
          <a href="https://docs.google.com/drawings/d/1TUzTrKaKy02ENTAyGcS6jCjQpCWGRIoB3MZZdY0u0Hc/edit?usp=sharing" style="font-family: monospace;">Turbine Replacement</a>
          <a href="https://docs.google.com/presentation/d/1I8gHbBHLzf1KF2w81L5Yq0uslSgUzHW3BWmNapvIKkU/edit?usp=sharing" style="font-family: monospace;">INTERNUT: KEY LOCATIONS</a>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © Squirrel Space. All rights reserved.</p>
            <p>Any resemblance to any persons or plots real or fictional is entirely for thematic purposes. We do not endorse any mysterious squirrel-based websites that we have not created.</p>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
