{% extends 'squirrelsite/base.html' %}

{% block title %}
Leaderboard
{% endblock %}

{% block content %}
<table style="width:100%">
	<tr>
		<h4>All Squads are in <strong>bold</strong>, squads replace individual scores for their members</h4>
	</tr>
	<tr>
		<th><h3>Username</h3></th>
		<th><h3>Score</h3></th>
	</tr>
	{% for score in score_list %}
	<tr>
		{% if score.user.first_name == "Squad" %}
		<td><strong>{{score.user.username}}</strong></td>
		{% else %}
		<td>{{score.user.username}}</td>
		{% endif %}
		<td>{{score.points}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}