{% extends 'squirrelsite/base.html' %}

{% block title %}
Secret Message
{% endblock %}


{% block content %}
	<h1>[TRANSMISSION FROM MARCH 2 2021]</h1>
	<p style="font-family: monospace; color: limegreen; background-color: black;">Project Oak Trees has been discovered by a number of humans. Moving acorn Tech from Morley to Spitball, proceed with extreme caution, humans might be roaming around the area. Use evasive action as much as possible, take lethal action if discovered.</p>
	<p style="font-family: monospace; color: limegreen; background-color: black;">Humans roaming the Internut, monitor the Internut for any suspicious activity against our plans. Project Oak Trees will soon commence. </p>
	<p style="font-family: monospace; color: limegreen; background-color: black;">Internut Connected and secured by Acorn Tech device. Cloaking of Acorn Tech has been activated. Stand by for further instructions.</p>
<!--	haha, there's NO way that they'd find what's hidden in our SQRLDATABASE, even if they find this...-->
	<a href="https://youtube.com/playlist?list=PLSRXqyhwpgoBy7CFJ51qtXXMVkF2Lj3eO">Super Secret Research</a>
{% endblock %}
