{% extends 'squirrelsite/base.html' %}

{% block title %}
Secret Message
{% endblock %}


{% block additional_head_content %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
		  $("#reveal").click(function(){
			$("#flag").attr("hidden", false);
		  });
		});
		</script>
{% endblock %}

{% block content %}
	<h1>Secret Message Link</h1>
	<p>The secret code is somewhere on this page...</p>
	<p style="color:lightsteelblue" hidden="true" id="flag">Oaks spawn acorns, acorns spawn oaks. The code is OUROBOROS.</p>
<!--	haha, there's NO way that they'd find what's hidden in our SQRLDATABASE, even if they find this...-->
	<a href="{% url 'squirrels:index'%}">Go Back in Defeat...</a>
	<br>
	<a href="#" id="reveal" style="color:white">Bury the Acorns</a>
	<br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/65owMrQDrHk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
